body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#heroimage{
    height: 40vh;
    width: 90vwvw;
    background-image: url('/recipe-page-main/assets/images/image-omelette.jpeg');
    background-size: cover;
   margin-top: 20px;
   margin-right: 20px;
   border-radius: 10px;
}
.content-cover{
    width: 70vw;
    border: 1px solid  black;
    margin: 20%;
}
.content{
    width: 60vw;
    border: 1px solid  black;
    margin: 10%;
}
/* #slogan{
    margin-left:10px ;
}
h1{
    margin-left: 10px;
} */
h2{
    margin-left: 25px;
    color: #a85232;
    font-weight: 800;
}
.bolt{
    font-weight: bold;
}
p{
    margin-left: 20px;
}
.firstlist{
    width: 90%;
    height: 25vh;
    /* border: 1px solid black; */
    margin-left: 10px;
    border-radius: 8px;
    background-color: #dbcfcfa2;
}
 li{
    margin-top: 9px;
}
th{
    color: wheat;
}
#nutrision{
    display: flex;
}
#nutroright{
    position: relative;
    left: 400px;
    width: 100px;
}
#nutroli {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 10px;
}
.value{
    color: #a8327d;
    font-weight: 600;
}